<?xml version='1.0' encoding='utf-8'?>
<widget id="com.alikwan.alamalu" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Alamalu</name>
    <description>App na karanta Hadisan Manzon Allah ﷺ, rukuni-rukuni, a Hausa da Larabci. Wanda AL IKWAN GROUP ASSOCIATION ke daukar nauyi, karkashin jagorancin MADARATUL DARIL IMAM, Unguwar Liman, Katsina.</description>
    <author email="ibrahimmujittaba9@gmail.com" href="https://example.com">AL IKWAN GROUP ASSOCIATION</author>

    <content src="index.html" />

    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="tel:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="https://wa.me/*" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="24" />
    <preference name="android-targetSdkVersion" value="34" />
    <preference name="GradlePluginKotlinEnabled" value="true" />
    <preference name="AndroidXEnabled" value="true" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#0F3D2E" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="Orientation" value="portrait" />

    <icon src="www/icon.png" />

    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="www/icon.png" />
    </platform>
</widget>
